@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
    /* font */
    --font-display: "istok-web";

    /* color */
    --color-prim-dark: #525252;
    --color-prim-green-100: #dce1da;
    --color-prim-green-500: #909b8c;
    --color-prim-green-800: #334a36;
}
