@import url("https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "tailwindcss";

@theme {
    /* font */
    --font-display: "istok-web";

    /* color */
    --color-prim-red: #e00000;
    --color-prim-gray-100: #aaaaaa;
    --color-prim-gray-200: #525252;
    --color-prim-gray-300: #2e2e2e;
    --color-prim-green-50: #f1f5f0;
    --color-prim-green-100: #dce1da;
    --color-prim-green-400: #86a789;
    --color-prim-green-500: #909b8c;
    --color-prim-green-600: #4f6f52;
    --color-prim-green-700: #4b5e4d;
    --color-prim-green-800: #334a36;
}

html {
    color: var(--color-prim-gray-200);
}

.custom-scrollbar {
    overflow-y: scroll;
    scrollbar-color: var(--color-prim-green-700) rgb(0, 0, 0, 0);
    scrollbar-width: thin;
    /* scrollbar-gutter: stable; */
}
