button.positive {
    color: white;
    background-color: var(--color-prim-green-400);
}
button.positive:hover {
    background-color: var(--color-prim-green-700);
}

button.neutral {
    background-color: var(--color-prim-green-100);
}
button.neutral:hover {
    background-color: var(--color-prim-green-500);
}

button.negative {
    color: white;
    background-color: var(--color-prim-red);
}
button.negative:hover {
    background-color: #650000;
}

button:disabled,
button:disabled:hover {
    background-color: var(--color-prim-gray-100);
}
