/* Custom Button */
.positive {
    background-color: var(--color-prim-green-400);
}
.positive:hover {
    background-color: var(--color-prim-green-700);
}

.neutral {
    background-color: var(--color-prim-gray-100);
}
.neutral:hover {
    background-color: var(--color-prim-gray-200);
}

.negative {
    background-color: var(--color-prim-red);
}
.negative:hover {
    background-color: #650000;
}
