.my-button.positive {
    color: white;
    background-color: var(--color-prim-green-400);
}
.my-button.positive:hover {
    background-color: var(--color-prim-green-700);
}

.my-button.neutral {
    background-color: var(--color-prim-green-100);
}
.my-button.neutral:hover {
    background-color: var(--color-prim-green-500);
}

.my-button.negative {
    color: white;
    background-color: var(--color-prim-red);
}
.my-button.negative:hover {
    background-color: #650000;
}

.my-button:disabled,
.my-button:disabled:hover {
    background-color: var(--color-prim-gray-100);
}
